/* =============== 
       Body 
================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Rubik Mono One", sans-serif;
  background-color: #dedede;
}
/* =================
       Navigation 
  ====================   */

.main-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 15px 15px;
  background-color: lightgoldenrodyellow;
}

h1 {
  margin-top: 15px;
  padding-left: 5px;
}

.main-nav ul {
  list-style-type: none;
  flex-direction: row;
  text-align: center;
  margin: 15px 0;
  font-size: larger;
  padding-left: 15px;
}

ul li {
  margin: 10px;
}

a {
  text-decoration: none;
  color: black;
}

/* ================ 
        Content 
   ================== */
.container {
  border: 7px solid white;
  background-color: white;
  margin: 15px;
}

.picture {
  max-width: 100%;
  padding: 0 100px;
}

.Portfolio {
  max-width: 100%;
  padding: 0 25px;
}

div h2 {
  text-align: center;
  margin: 25px 35px;
  padding-right: 25px;
}

p {
  font-size: larger;
  text-align: center;
  padding: 25px;
}

h4 {
  text-align: center;
  font-size: larger;
  margin: 20px 25px;
  padding-right: 25px;
}

/* Section */
#Skills {
  background-color: burlywood;
  margin: 7px;
}
#New {
  font-size: 30px;
  padding-left: 7px;
}
.skills {
  font-size: large;
  text-align: center;
  padding-right: 30px;
  padding-left: 15px;
  list-style-type: none;
}
#Contact {
  margin-top: 50px;
  padding: 40px;
}

.switch {
  text-align: center;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding: 0 20px;
  height: 100px;
  background-color: lightgoldenrodyellow;
}

.full {
  display: none;
}

.Top {
  list-style-type: none;
}

.contact {
  padding-left: 15px;
}

/* ================= 
       Media Queries 
    ================== */

@media (min-width: 768px) {
  .intro {
    display: flex;
    flex-direction: row-reverse;
  }
  .main-nav ul {
    display: flex;
  }
  .picture {
    padding-right: 35px;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  .container div:first-of-type {
    flex-basis: 100%;
  }
  .col {
    flex-basis: 50%;
  }
  .Top {
    display: none;
  }
  .full {
    display: inline-block;
    margin-left: 20px;
  }
  .skills {
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .main-header {
    display: flex;
    flex-direction: row;
  }
  .picture {
    padding-right: 35px;
  }
  .col {
    flex-basis: 33.333%;
    /* max-width: 1200px;
    /* text-align: center; */
  }
}
