/* Body */

body {
  background-color: #f5f5f5;
  font-family: "Rock Salt", cursive;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Header*/

.main-header {
  font-weight: 400;
  letter-spacing: 0.05em;
  padding: 30px;
  background-color: orange;
}
.main-nav {
  padding: 10px 0;
  margin: 5px auto;
  font-size: x-large;
}

h1,
.main-nav {
  text-align: center;
  color: blue;
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Main-Content*/

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 100px;
  border: 2px solid white;
  background-color: white;
  padding-top: 100px;
  padding-bottom: 50px;
}

.col {
  margin: 10px;
  min-height: 250px;
  text-align: center;
  letter-spacing: 1px;
  padding-top: 5px;
  padding-left: 70px;
}

img {
  width: 400px;
}

/* --- Footer --- */

.info {
  text-align: center;
  font-size: larger;
  flex-shrink: 0;
}

.info li {
  list-style-type: none;
}

section {
  padding-left: 20px;
  margin: 20px;
}

h4 {
  padding: 20px;
}

.Number {
  padding: 20px;
}

.email {
  padding-bottom: 20px;
}

/* Media Queries */

@media (min-width: 320px) {
  .row h2 {
    flex-basis: 100%;
    text-align: center;
  }
  .picture {
    margin-left: 120px;
    margin-bottom: 20px;
  }
  .col {
    padding-right: 200px;
  }
}

@media (min-width: 768px) {
  .main-nav {
    margin-top: 0;
  }
  .main-nav li {
    display: inline-block;
    width: auto;
    margin-right: 7px;
    background-color: transparent;
  }
  .container {
    display: flex;
  }
  .intro {
    display: flex;
    flex-direction: row-reverse;
  }
  .row h2 {
    flex-basis: 100%;
    text-align: center;
  }
  .col {
    padding-right: 200px;
  }
}

@media (min-width: 1024px) {
  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .col {
    flex-basis: 20px;
    padding: 100px;
  }
}
