/* =============== 
       Body 
================= */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Abril Fatface", cursive;
}
/* =================
       Navigation 
  ====================   */

.main-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 15px 15px;
  background-color: blueviolet;
}

h1 {
  margin-top: 15px;
  padding-left: 5px;
}

.main-nav ul {
  list-style-type: none;
  flex-direction: row;
  justify-content: center;
  margin: 15px 0;
  font-size: larger;
  padding-left: 15px;
}

ul li {
  margin: 10px;
}

a {
  text-decoration: none;
  color: black;
}

/* ================ 
        Content 
   ================== */

.picture {
  padding-left: 7.5em;
  width: 460px;
}

.Portfolio {
  max-width: 100%;
  padding: 0 25px;
}

div h2 {
  text-align: center;
  margin: 25px 35px;
  padding-right: 25px;
}

p {
  font-size: larger;
  text-align: center;
  padding: 25px;
}

h4 {
  text-align: center;
  font-size: larger;
  margin: 20px 25px;
  padding-right: 25px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding: 0 20px;
  height: 100px;
  background-color: blueviolet;
  color: black;
}
.full {
  display: none;
}

/* ================= 
       Media Queries 
    ================== */

@media (min-width: 768px) {
  .intro {
    display: flex;
    flex-direction: row-reverse;
  }
  .main-nav ul {
    display: flex;
  }
  .picture {
    padding-right: 35px;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  .container div:first-of-type {
    flex-basis: 100%;
  }
  .col {
    flex-basis: 50%;
  }
  .top {
    display: none;
  }
  .full {
    display: inline-block;
    margin-left: 20px;
  }
}

@media (min-width: 1024px) {
  .main-header {
    display: flex;
    flex-direction: row;
  }
  .picture {
    padding-right: 35px;
  }
  .col {
    flex-basis: 33.333%;
  }
}
